:root {
    --app-background: #1c1b20;
    --app-background-hover: #282829;
    --app-white: #fff;
    --app-card-background: #e8e7e1;
    --app-footer-background: #222222;
    --app-dark-text-color: #222222;
    --app-dark-button: #eb9231;
    --app-dark-button-hover: #df8423;
    --app-part-border: #aaa;

    --p0: 79px;
    --p1: 79px;
    --p2: 79px;

    --t0: 1000ms;
    --t1: 1000ms;
    --t2: 1000ms;



}