:root {
    --app-background: #1c1b20;
    --app-white: #fff;
    --app-card-background: #e8e7e1;
    --app-footer-background: #222222;
    --app-dark-text-color: #222222;
    --app-dark-button: #eb9231;
    --app-dark-button-hover: #df8423;
    --app-part-border: #aaa;
    --blue: #1e90ff;

    --p0: 0px;
    --p1: 0px;
    --p2: 0px;


}